<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="score-display">
    <h2>CSX'e : {{ score | number: '1.1-1' }}</h2>
  </div>
  <!-- Gradient background only above the line -->
  <div class="top-gradient"></div>

  <div class="coin-container">
    <!-- Keep the coin always visible, add the 'locked' class when isLocked is true -->
    <div class="coin" 
         [class.locked]="isLocked"
         (touchstart)="startHold()" 
         (touchend)="stopHold()" 
         (touchcancel)="stopHold()" 
         (mousedown)="startHold()" 
         (mouseup)="stopHold()" 
         (mouseleave)="stopHold()">
      <div class="coin-inner"></div>
    </div>
  </div>

  <!-- Timer Bar -->
  <div class="timer-bar-container">
    <div class="timer-bar" [style.width.%]="timerBarWidth">
      <div class="timer-time">
        <!-- Display the current message based on the timer state -->
        <span *ngIf="!isLocked && !isTimerRunning">Hold the coin tightly</span>
        <span *ngIf="isLocked || isTimerRunning">{{ remainingTime }}</span>
      </div>
    </div>
  </div>
  
  <div *ngIf="isLocked">
    <h3>The game is locked. You can play again after.</h3>
  </div>
</ion-content>

