<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="earn">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Earn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invites">
      <ion-icon name="people"></ion-icon>
      <ion-label>Invites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
