<ion-header>
  <ion-toolbar>
    <ion-title>Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-gradient"></div>
  <ion-grid>
    <ion-row class="game-row">
      <!-- Loop through games to create a row of game cards -->
      <ion-col size="12" *ngFor="let game of games; let i = index">
        <ion-card class="game-card" (click)="openGame(game)" [ngStyle]="{'background-color': getRandomColor(i)}">
          <ion-card-content class="game-content">
            <!-- Image takes up 25% of the width -->
            <ion-thumbnail class="game-image">
              <img [src]="game.image" alt="{{ game.name }} image" />
            </ion-thumbnail>

            <!-- Title and button take up the remaining 75% -->
            <div class="game-details">
              <ion-card-title>{{ game.name }}</ion-card-title>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
